.baseball-field-container {
	position: relative;
	margin: 0 auto;

	.position-btn--active {
		background-color: #ffffff;
		color: var(--blueText);
		font-weight: bold;
		transition: transform 100ms;
		&:hover {
			background-color: #ffffff !important;
			transform: scale(1.05);
		}
	}
	span {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 24px;
		width: 24px;
		font-size: 11px;
		border-radius: 50%;
		color: white;
		border: 1px solid white;
		cursor: pointer;
		transition: 250ms;
		background-color: #00000029;
		&:hover {
			background-color: var(--color-icon);
		}
	}
	#catcher {
		left: 50%;
		transform: translateX(-50%);
		bottom: 30px;
	}
	#pitcher {
		left: 50%;
		transform: translateX(-50%);
		bottom: 64px;
	}
	#first-base {
		right: 48px;
		bottom: 58px;
	}
	#second-base {
		right: 60px;
		bottom: 97px;
	}
	#short-stop {
		left: 60px;
		bottom: 97px;
	}
	#third-base {
		left: 48px;
		bottom: 58px;
	}
	#left-field {
		left: 28px;
		top: 52px;
	}
	#center-field {
		left: 50%;
		transform: translateX(-50%);
		top: 30px;
	}
	#right-field {
		right: 28px;
		top: 52px;
	}
	.baseball-field {
		width: 200px;
		height: 200px;

		.sand {
			fill: #d8b676;
		}

		.dark-grass {
			fill: #47842b;
		}

		.light-grass {
			fill: #558e3a;
		}

		.white {
			fill: #f1f2f270;
		}

		.base-label {
			font-size: 9px;
			fill: #000;
			font-family: SegoeUI-Bold, Segoe UI;
			font-weight: 700;
		}

		.hit {
			stroke: #000;
			stroke-miterlimit: 10;
			stroke-width: 0.25px;
		}

		.red {
			fill: #dd283e;
		}

		.blue {
			fill: #274fe0;
		}
	}
}
