.card-preview-modal {
	position: fixed;
	z-index: 100000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 5px;
	transition: 480ms ease;
	// max-width: 1500px;
	max-width: 350px;
	height: 80%;
	max-height: 570px;

	.modal__body {
		position: relative;
		width: 100%;
		margin: 0 auto;
		// min-height: 76vh;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		iframe {
			width: 100%;
			height: 100%;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
		}
		.baseball-card-wrapper {
			cursor: inherit;
		}
	}

	.exit-btn-wrapper {
		position: absolute;
		right: -6px;
		top: -6px;
		width: 32px;
		height: 32px;
		border-radius: 50px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1111111;
		cursor: pointer;
		svg {
			color: #1c1b1b;
			height: 18px !important;
		}
	}

	.baseball-card-wrapper {
		margin: 0 !important;
		.team-img-wrapper {
			right: -5px;
			.team-img {
				width: 75px;
				height: 75px;
				img {
					width: 80%;
				}
			}
		}
		.player-details-bar {
			font-size: 14px;
			.last-name {
				font-size: 15px;
				line-height: 18px;
			}
			.first-name {
				padding-left: 8px;
				line-height: 1.4em;
				font-size: 23.8px;
				letter-spacing: 3px;
			}
		}
		.position-and-team-container {
			font-size: 13px !important;
			line-height: 18px !important;
			// .position {
			// 	margin-right: 7px;
			// }
			.team-name {
				padding-left: 7px;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					border-left: 1px solid black;
					left: 0;
					height: 4px;
					top: 53%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
				}
			}
		}
	}
}

.card-preview-enter {
	// opacity: 0;
	// transform: translateY(-200px);
	transform: translate(-50%, -150%);
	transition: transform 1400ms;
	// transform: scale(0.9);
}
.card-preview-enter-active {
	// opacity: 1;
	// transform: translateY(-200px);
	transform: translate(-50%, -50%);
	transition: transform 1400ms;
}
.card-preview-exit {
	// opacity: 1;
	transform: translate(-50%, -50%);
	transition: transform 1400ms;
}
.card-preview-exit-active {
	// opacity: 0;
	// transform: scale(0.9);
	transform: translate(-50%, -200%);
	transition: transform 1400ms;
}

@media only screen and (max-width: 600px) {
	.modal {
		width: 100%;
		position: absolute;
		transform: translate(0, 0);
		top: 0;
		left: 0;
		.modal__body {
			height: 91vh;
			-webkit-overflow-scrolling: touch;
			overflow: scroll;
		}
	}

	.btn-circle {
		width: 22px !important;
		height: 22px !important;
	}
}
